{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "feat",
        "fix",
        "docs",
        "style",
        "refactor",
        "perf",
        "test",
        "build",
        "ci",
        "chore",
        "revert",
        "wip",
        "deps",
        "config",
        "security",
        "release"
      ]
    ],
    "scope-empty": [
      2,
      "never"
    ],
    "scope-enum": [
      2,
      "always",
      [
        "frontend",
        "backend",
        "packages",
        "monorepo"
      ]
    ],
    "subject-case": [
      1,
      "never",
      [
        "start-case",
        "pascal-case",
        "upper-case"
      ]
    ],
    "subject-full-stop": [
      2,
      "never",
      "."
    ]
  }
}
