:root {
  --white: #ffffff;
  --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #bfdbfe;
  --primary-300: #93c5fd;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: var(--white)
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #ecedef;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0.6rem;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #161513;
}

.main__container__figure {
  padding: 0.4rem;
  background-color: #5e47de;
  border-radius: 100%;
}

.main__container__img {
  border-radius: 100%;
  width: clamp(14rem, 22vw, 21.2rem);
  height: clamp(14rem, 22vw, 21.2rem);
  object-fit: cover;
}

.main__container__section {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container__section__title {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(2rem, 8vw, 4.8rem);
  font-weight: 700;
  text-align: center;
  color: var(--white);
}

.main__container__section__subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1.6rem, 5vw, 2.4rem);
  font-weight: 400;
  text-align: center;
  color: var(--white);
}

.main__container__section__description {
  width: 75%;
  margin-top: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  font-weight: 400;
  text-align: center;
  color: var(--white);
}

.gradient {
  background: linear-gradient(90deg, #5e47de 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main__container__section__list {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  align-items: center;
}
